.Button {
  background-color: #61dafb;
  text-align: center;
}

.Button:hover {
  cursor: pointer;
  background-color: white;
}

.Big {
  font-size: 1.25rem;
  width: 200px;
  height: 80px;
  transition: 0.1s linear;
}

.Small {
  font-size: 0.9rem;
  width: 80px;
  height: 32px;
  transition: 0.1s linear;
}

.Red {
  background-color: #f80;
}

.Red:hover {
  background-color: rgb(255, 208, 0);
}