.Button {
  background-color: #61dafb;
}

.Button:hover {
  cursor: pointer;
  background-color: white;
}

.Big {
  font-size: 1.25rem;
  width: 12rem;
  height: 5rem;
  transition: 0.1s linear;
}

.Small {
  font-size: 0.9rem;
  width: 5rem;
  height: 2rem;
  transition: 0.1s linear;
}

.Red {
  background-color: #f80;
}

.Red:hover {
  background-color: rgb(255, 208, 0);
}