.Button {
  /* background-color: #998da0; */
  box-sizing: border-box;
  font-family: serif;
  background-color: #64B6AC;
  text-align: center;
}

.Button:hover {
  cursor: pointer;
  background-color: #fff;
}

.Big {
  font-size: 1.5rem;
  width: 250px;
  height: 100px;
  transition: 0.1s linear;
}

.Medium {
  font-size: 1rem;
  width: 170px;
  height: 70px;
  margin: 0 10px;
  transition: 0.1s linear;
}

.Small {
  font-size: 0.9rem;
  width: 80px;
  height: 32px;
  transition: 0.1s linear;
}

.Red {
  /* background-color: #f80; */
  background-color: #EA9010;
}

.Red:hover {
  background-color: rgb(255, 208, 0);
}