.AddressCard {
  width: 290px;
  height: 100%;
  margin: 20px;
  border-radius: 15px;
  background-color: #24262d;
  color: #ccc;
  display: flex;
  padding-left: 32px;
  padding-top: 8px;
  box-sizing: border-box;
  transition: 200ms linear;
  display: flex;
  flex-flow: column;
}

.AddressCard:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.AddressCard p {
  margin: 8px;
  width: 90%;
  word-wrap: break-word;
}

.AddressCard a {
  text-decoration: underline;
}

.AddressCard > ul > li > span {
  font-weight: 800;
}

.AddressCard_btn {
  align-self: flex-end;
  margin-right: 25px;
  margin-bottom: 16px;
  background-color: red;
}
