.AddressCard {
  width: 18rem;
  height: 100%;
  margin: 20px;
  border-radius: 15px;
  background-color: #24262D;
  color: #ccc;
  display: flex;
  padding-left: 2rem;
  padding-top: 0.5rem;
  box-sizing: border-box;
  transition: 200ms linear;
  display: flex;
  flex-flow: column;
}

.AddressCard:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.AddressCard p {
  margin: 0.5rem;
  width: 90%;
  word-wrap: break-word;
}
.AddressCard a {
  text-decoration: underline;
}
.AddressCard_btn {
  align-self: flex-end;
  margin-right: 1.5rem;
  margin-bottom: 1rem;
  background-color: red;
}

