.SearchSort {
  width: 100%;
  height: 20vh;
  background-color: #998DA0; 
  margin-top: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.Addresses {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  min-height: 73vh;
  padding-top: 15px;
  background-color: #998DA0;
}

.Addresses__container {
  height: 100%;
  width: 1200px;
  margin: 0 auto;
  font-size: 0.9rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
}

.SearchArea {
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SearchArea__radio {
  width: 250px;
  display: flex;
  color: #eee;
  align-items: center;
  justify-content: space-around;
}

.Addresses input,
.Addresses textarea {
  background-color: #aabfc5;
}

@media only screen and (max-width: 768px) {
  .Addresses__container {
    width: 100%;
  }
  .SearchArea {
    width: 100%;
  }
}