.Main {
  width: 100%;
  height: 100%;
  background-color: #484b5b;
  padding-top: 10vh;
  padding-left: 25vw;
}

.Addresses {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  width: 100%;
  height: 100%;
  min-height: 90vh;
  /* margin-top: 10vh; */
  background-color: #484b5b;
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: space-evenly;
}

.Addresses input,
.Addresses textarea {
  background-color: #aabfc5;
}
